body{
    background-color: blue;
}
ul{
    align-items: center;  
    list-style-type: none;
    display: inline;
}

.item{
    background-color: white;
    margin: 5px;
    align-self: center;
    text-align: center;
    border-radius: 7px;
    padding: 10px;

}
h1{
    text-align: center;
    align-self: center;
    color: white;
}
form{
    text-align: center;
    margin: auto;
}
input{
    padding: 10px;
    align-self:  center;
    text-align: center;
}
